:8080 {
	handle /u {
		reverse_proxy api:8081
	}

	handle /u/ {
		reverse_proxy api:8081
	}

	handle /u/bg/* {
		reverse_proxy api:8081
	}

	handle /u/api/upload {
		reverse_proxy api:8081
	}

	handle_path /u/* {
		root * /public
		file_server
	}
}